<h1>Pirate</h1>
<%= @pirate.name %>
<%= @pirate.height %>
<%= @pirate.weight %>

<h2>First Ship</h2>
<%= @ships.first.name %>
<%= @ships.first.type %>
<%= @ships.first.booty %>

<h2>Second Ship</h2>
<%= @ships.last.name %>
<%= @ships.last.type %>
<%= @ships.last.booty %>
